.debug{
    border: 1px solid salmon;
    padding: 5px;
}


ul{
    list-style: none;
    text-decoration: none;
}

body{
    height: 100vh;
}

header.header-content{
    height: 70px;
}

.header-content .logo-area,
aside.nav-main{
    width: 68px;
}

@media screen and (min-width:768px){
    .header-content .logo-area,
    aside.nav-main{
        width: 150px;
    }
}
