.debug{
    border: 1px solid salmon;
    padding: 5px;
}


ul{
    list-style: none;
    text-decoration: none;
}

img{
    max-width: 100%;
}

body{
    height: 100vh;
}
/**header content**/
header.header-content{
    height: 70px;
}

.header-content .logo-area,
aside.nav-main{
    width: 68px;
}

@media screen and (min-width:769px){
    .header-content .logo-area,
    aside.nav-main{
        width: 150px;
    }
}

.search{
    border-radius: 8px;
    margin: 0 10px;
    padding: 0 10px;
}

.search i{
    padding-right: 10px;
}

ul.header-option{
    margin: auto 10px;
    padding: 0;
}
/***********/

/*****header main*****/
.header-main{
    padding: 30px 15px;
}

div.enter-data{
    --bs-offcanvas-width: 100vw;
}

@media screen and (min-width:769px){
    div.enter-data{    
        --bs-offcanvas-width: 50vw;
    }
}

div.enter-data button{
    max-width: max-content;
    margin-right: 5px;
}

.header-main .app button{
    background-color: #1b53e8ed;
    border-radius: 9999px;
    margin: 0px 5px;
}