.debug{
    border: 1px solid salmon;
    padding: 5px;
}


ul{
    list-style: none;
    text-decoration: none;
}

img{
    max-width: 100%;
}

body{
    height: 100vh;
}
/**header**/
header.header-content{
    height: 70px;
}

.header-content .logo-area,
aside.nav-main{
    width: 68px;
}

@media screen and (min-width:769px){
    .header-content .logo-area,
    aside.nav-main{
        width: 150px;
    }
}

.search{
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 10px;
    padding: 0 10px;
}

.search i{
    padding-right: 10px;
}

ul.header-option{
    margin: auto 10px;
    padding: 0;
}